@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);


$font-family-sans-serif:  'Droid Sans', sans-serif;
$font-family-serif: 'Droid Serif', serif;
$font-family-base: $font-family-sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;