// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Colors
$col-redish:          #994444;
$col-redish-trans:    rgba(153,68,68,0.5);
$col-brick:           #c2a16f;
$col-greenish:        #779911;
$col-greenish-trans:  rgba(119,153,17,0.5);
$col-white:           #ffffff;
$col-white-trans:     rgba(255,255,255,0.9);
$col-trans:           rgba(255,255,255,0);
$col-black:           #2b2b2b;

// Heights
$header-height: 100px;
$height-footer: 40px;